:root{
    --t-button-size-sm: 34px;
    --t-button-size-md: 44px;
    --t-button-size-lg: 52px;
}

.w-1\/2{
    width: 50%;
}

.py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}